.headComplete {
	height: 175px;
	/*width: 1400px;*/
	width: 70%;
	background: url(../resources/images/completeBannerNoLines.png) top left no-repeat;
	background-size: contain;
	background-color: white;
	/*margin-left: 235px;
	margin-top: -10px;*/
	margin: auto;
	position: relative;
	z-index: 8;
}

.headCenter {
	margin-left: -15%;
	margin-top: -135px;
	font-size: 2.7em;
	/*width: 70%;*/
	text-align: center;
	color: green;
	/*background: white;*/
	position: relative;
	z-index: 10;
}

#content {
	height: 100vh;
	background: white;
	width: 70%;
	margin:auto;
	position: relative;
	z-index: 2;
}

body {
	background-color: grey;
}
#footer {
position: absolute;
bottom: 0px;
text-align: center;
width: 70%;
margin-left: 15%;

}
.footer {
	font-size: 0.8em;
	text-align: center;
}