.headCompleteOld {
	height: 175px;
	/*width: 1400px;*/
	width: 70%;
	background: url(../resources/images/completeBannerNoLines.png) top left
		no-repeat;
	background-size: contain;
	background-color: white;
	margin: auto;
	position: relative;
	z-index: 8;
}
.headComplete {
	height: 175px;
	width: 100%;
	background: url(../resources/images/operations.jpg) top center
		no-repeat;
	background-size: 100% 100%;
	/*background-color: white;*/
	margin: -2px;
	position: relative;
	z-index: 8;
}
.headCenter {
	margin-left: 15%;
	margin-top: -135px;
	font-size: 2.7em;
	text-align: left;
	color: green;
	position: relative;
	z-index: 10;
}

#content {
	height: 100vh;
	background: white;
	width: 70%;
	margin: auto;
	padding: 1%;
	position: relative;
	z-index: 2;
}

body {
	/*204 255 204*/
	background-color: rgb(204, 255, 204);
	/*background-color: rgb(224, 224, 224);*/
}
#title {
	text-align: left;
}
#footer {
	position: absolute;
	bottom: 0px;
	text-align: center;
	width: 70%;
	margin-left: 15%;
}

.navigationBar {
	border: green;
	color: green;
	width: 100vh;
}

.footer {
	font-size: 0.8em;
	text-align: center;
}